.notification {
    position: fixed;
    padding: 25px;
    right: 0;
    color: white;
    background-color: rgb(43, 43, 43);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
