.tableContainer {
    width: 60%;
    margin: 0 auto;
    padding: 25px;
    @media screen and (max-width: 720px) {
        width: 100%;
    }
}

.title {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    color: white;
    border-collapse: collapse;
    width: 100%;
    & th {
        border: 1px solid white;
        background-color: rgb(33, 33, 33);
        padding: 10px;
    }
    & th:first-child {
        width: 60px;
        padding: 10px;
    }
    & td:last-child {
        width: 100px;
        padding: 10px;
    }
    & td:first-child {
        text-align: center;
        padding: 5px;
    }

    & td {
        padding: 10px;
        border: 1px solid white;
        font-weight: bold;
    }
}
.username span {
    margin-left: 10px;
    font-size: 1rem;
}
