* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(27, 27, 27);
}
button {
    padding: 10px 20px;

    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: all 0.2s;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
    &:hover {
        transform: scale(1.01);
    }
    &:active {
        transform: scale(0.95);
    }
}

input {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    padding: 5px;
}

.main {
    width: 80%;
    margin: 0 auto;
}
