* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(27, 27, 27);
}
button {
    padding: 10px 20px;

    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: all 0.2s;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
    &:hover {
        transform: scale(1.01);
    }
    &:active {
        transform: scale(0.95);
    }
}

input {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    padding: 5px;
}

.main {
    width: 90%;
    margin: 0 auto;
    @media (max-width: 920px) {
        width: 100%;
        margin: 0;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.알파메일 {
    animation: rainbow-animation 5s infinite;
}
.확률조작 {
    animation: gold-animation 5s infinite;
}
@keyframes gold-animation {
    0% {
        color: goldenrod;
    }
    50% {
        color: rgb(255, 157, 0);
    }
    100% {
        color: rgb(255, 233, 125);
    }
}
@keyframes rainbow-animation {
    0% {
        color: rgb(255, 55, 55);
    }
    14% {
        color: rgb(245, 181, 62);
    }
    28% {
        color: rgb(255, 255, 94);
    }
    42% {
        color: rgb(85, 255, 85);
    }
    57% {
        color: rgb(51, 51, 255);
    }
    71% {
        color: rgb(169, 48, 255);
    }
    85% {
        color: rgb(255, 56, 255);
    }
    100% {
        color: #f23737;
    }
}

.베타메일 {
    color: red;
}

.신용불량자 {
    color: goldenrod;
}
