.container {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    & button {
        padding: 10px 40px;
        font-size: 1.2rem;
    }
}
.background {
    padding: 20px;
    border-radius: 5px;
}

.NumberInput {
    width: 80px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.section {
    margin-top: 55px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 25px;
    flex-direction: column;
}

.infomation {
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
    margin-bottom: 5px;
    & h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    & p {
        font-size: 1.2rem;
    }
    & span {
        font-size: 2rem;
        font-weight: bold;
        color: goldenrod;
    }
    & button {
        padding: 10px 20px;
        font-size: 0.8rem;
    }
}

.box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & h1 {
        font-size: 1.4rem;
    }
    & p {
        font-size: 1.2rem;
        border-bottom: 2px solid white;
        padding: 5px;
    }
}
